
h1, h2{
    color: #0A014F;
}

.passwordBox {
    background-color: #F6CACA;
    position: absolute;
    margin: 215px;
    width: 100%;
    border-radius: 10px;
    border-width: 5px;
    box-shadow: 10px 5px 5px #0A014F;
    font-size: 18px;
    max-width: 800px;
    padding: 30px 40px;
}

.cardHeader {

}

.cardBody {

}

.cardFooter {

}

#password {
    box-sizing: content-box;
}